.box-container{
    background-image: linear-gradient(to right bottom, #111111af, #d11a23af),url(../../assets/gym-background.jpg);
    background-size: cover;
    background-position: top;
    height: 90vh;
    z-index: 1;
}
.text-box{
    background-color: rgba(0, 0, 0, 0.441);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem .9rem;
    text-align: center;
}
.primary-header{
    line-height: 1.7;
    min-width: 250px;
    margin-bottom: 1.5rem;
}
.primary-header span{
    display: block;
}
.primary-header span:first-child{
    font-size: 1rem;
    letter-spacing: .2rem;
    font-weight: 300;
    text-transform: capitalize;
    animation: opacityChanging 1s ease-out;
}
.primary-header span:nth-child(2){
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .4rem;
    margin: .8rem 0;
    animation: moveToRight 1s ease-out;
}
.primary-header span:last-child{
    font-size: .9rem;
    font-weight: 300;
    text-transform: capitalize;
    animation: moveToLeft 1s ease-out;
}
.btn:link,
.btn:visited{
    display: inline-block;
    font-size: .9rem;
    padding: .4rem 2.2rem;
    position: relative;
    z-index: 1;
    transition: all .6s;
}
.btn-red{
    background-color: var(--light-red-color);
}
.btn-red:hover{
    color: var(--light-red-color);
}
.btn::after{
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .6s;
}
.btn-red::after{
    background-color: var(--white-font-color);
}
.btn:hover::after{
    width: 100%;
}

@media screen and (min-width: 565px) {
    .text-box{
        padding: 2rem;
    }
    .primary-header{
        min-width: 400px;
    }
    .primary-header span:first-child{
        font-size: 1.2rem;
    }
    .primary-header span:nth-child(2){
        font-size: 2rem;
        letter-spacing: .6rem;
    }
    .primary-header span:last-child{
        font-size: 1rem;
    }
    .btn:link,
    .btn:visited{
        padding: .6rem 4rem;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 815px){
    .primary-header{
        min-width: 500px;
    }
    .primary-header span:first-child{
        font-size: 1.3rem;
        letter-spacing: .2rem;
    }
    .primary-header span:nth-child(2){
        font-size: 2.6rem;
    }
    .primary-header span:last-child{
        font-size: 1.1rem;
    }
    
    .btn:link,
    .btn:visited{
        padding: .6rem 8rem;
        font-size: 1.1rem;
    }
}

@keyframes moveToRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    80%{
        transform: translateX(20px);
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveToLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    80%{
        transform: translateX(-20px);
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes opacityChanging {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}
