.box-container{
    background-image: linear-gradient(to right bottom, #111111af, #d11a23af),url(../../assets/gym-background.jpg);
    background-size: cover;
    background-position: top;
    height: 90vh;
    position: relative;
}
.text-box{
    background-color: rgba(0, 0, 0, 0.441);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem .9rem;
    text-align: center;
    color: white;
}
.primary-header{
    line-height: 1.7;
    min-width: 250px;
}
.primary-header span{
    display: block;
}
.primary-header span:first-child{
    font-size: 1rem;
    letter-spacing: .2rem;
    font-weight: 300;
    text-transform: capitalize;
}
.primary-header span:nth-child(2){
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .4rem;
    margin: .8rem 0;
}
.primary-header span:last-child{
    font-size: .9rem;
    font-weight: 300;
    text-transform: capitalize;
}
.linkContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.6rem;
}
.linkBtn{
    display: block;
    font-size: .9rem;
    width: 80%;
    padding: .4rem;
    background-color: var(--light-red-color);
    color: white;
}

@media screen and (min-width: 565px) {
    .text-box{
        padding: 2rem;
    }
    .primary-header{
        min-width: 400px;
    }
    .primary-header span:first-child{
        font-size: 1.2rem;
    }
    .primary-header span:nth-child(2){
        font-size: 2rem;
        letter-spacing: .6rem;
    }
    .primary-header span:last-child{
        font-size: 1rem;
    }
    .linkBtn{
        padding: .7rem;
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 815px){
    .primary-header span:first-child{
        font-size: 1.3rem;
        letter-spacing: .2rem;
    }
    .primary-header span:nth-child(2){
        font-size: 2.6rem;
    }
    .primary-header span:last-child{
        font-size: 1.1rem;
    }
    .linkBtn{
        width: 50%;
        font-size: 1.1rem;
    }
}
