.exercises-search{
    text-align: center;
}
.exercises-search h1{
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--white-font-color);
}
.search-input{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.search-input input{
    padding: .7rem .5rem;
    width: 60%;
    max-width: 450px;
    font-size: 1.4rem;
    outline: none;
    border: none;
}
.search-input input:focus{
    border: solid 2px var(--light-red-color);
}

@media screen and (min-width: 550px){
    .search-btn{
       padding: .7rem 1.8rem;
   }
}

@media screen and (min-width: 815px){
    .search-input input{
        max-width: 550px;
    }
    .exercises-search h1{
        font-size: 2rem;
    }
    .search-btn{
        padding: .9rem 2.4rem !important;
    }
}