@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --dark-red-color: #a4030e;
    --light-red-color: #d11a23;
    --dark-black-color: #131313;
    --mid-black-color: #181818;
    --light-black-color: #2c2c2c;
    --white-font-color: #edebeb;
    --red-font-color: rgb(239, 29, 29);
    --purple-color: rgb(104, 6, 104);
    --orange-color: rgb(225, 147, 0);
    --silver-color: rgb(177, 177, 177);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 12px;
}
body{
    font-size: 1.1rem;
    font-family: "Poppins", serif;
    background-color: var(--mid-black-color);
    color: var(--white-font-color);
}
a{
    text-decoration: none;
    color: var(--white-font-color);
}
.header{
    letter-spacing: .2rem;
    text-transform: capitalize;
}
section{
    padding: 3rem 1rem;
}
.list-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.2rem 1rem;
    gap: 2rem;
}


@media screen and (min-width: 825px){
    html{
       font-size: 14px; 
    }
    .list-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        place-items: center;
    }
    
}