.goalCard {
    flex: 1;
    min-width: unset;
    width: 100%;
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--light-black-color);
    text-align: center;
  }
  
  .goalCard h3 {
    margin-top: 0;
    color: var(--white-font-color);
    font-size: 1.1rem;
  }
  
  .goalValue {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--silver-color);
    margin-top: 0.5rem;
  }
