.infoItem {
    flex: 1;
    flex-wrap: wrap;
    min-width: 40vw;
    width: 100%;
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--light-black-color);
  }
  
  .infoLabel {
    font-weight: bold;
    color: var(--white-font-color);
    margin-bottom: 0.5rem;
  }
  
  .infoValue {
    font-size: 1.3rem;
    color: var(--silver-color);
  }