.legendItem {
    display: flex;
    align-items: center;
  }
  
  .proteinSwatch, .carbSwatch, .fatSwatch {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 8px;
    border-radius: 4px;
  }
  
  .proteinSwatch {
    background-color: var(--purple-color);
  }
  
  .carbSwatch {
    background-color: var(--green-color);
  }
  
  .fatSwatch {
    background-color: var(--orange-color);
  }