.proteinBar, .carbBar, .fatBar{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.proteinBar {
    background-color: var(--purple-color);
  }
  
  .carbBar {
    background-color: var(--green-color);
  }
  
  .fatBar {
    background-color: var(--orange-color);
  }